<nav>
    <div class="site-title">

        <a href="/"><h1>Blog Nodejs</h1></a>
        <p>Blog de test Nodejs</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">à propos</a></li>
        <li><a href="/blogs/create">Nouveau blog</a></li>
    </ul>
</nav>