<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>Teste le blog</h2>
        <p>Je vous remercie d'essayer ce petit blog, cela m'aide beaucoup dans le développement de la forme finale d'Instanim.</p>
        <br/>
        <p>Je vous invite à essayer la création de blog et de lire un blog afin de voir si tout marche correctement.</p>
        <br/>
        <p>Il n'y a pas de règle spécifique concernant la publication de blog (dans les limites du raisonnable, tout contenu +18 est totalement prohibé), vous pouvez simplement en créer un pour tester, 
            vous pouvez en faire un sur quelque chose que vous aimez ou vous pouvez simplement laisser un petit message, 
             je me ferai un plaisir de le lire :).
        </p>
        <br/>
        <p>Si vous voulez supprimer un de vos blogs, il faut possèder la même adresse IP de quand vous l'avez créé. Si votre IP a changé, contactez moi pour le supprimer.</p>
        <br/>
        <p>Concernant la sécurité, je fais de mon mieux mais c'est pas ma spécialité donc je vous invite à mettre aucune donnée sensible.</p>
        <br/>
        <h2>Le projet</h2>
        <p>Ce blog est avant tout un projet rapide qui vise à m'aider à appréhender node Js qui me permettra de travailler sur un projet bien plus ambitieux.</p>
        <br/>
        <p>Son développement a pris environ 25 heures et a été réalisé en 4 jours (au détriment de mon sommeil).</p>
        <br/>
        <p>Bien que petit et peu intéressant, j'ai décidé de quand même partager ce petit blog afin d'avoir un peu d'expérience en tant que DevOps.</p>
        <br/>
        <p>L'ensemble des contenus englobant ce site est la propriété intellectuelle de Jules Ladaigue.</p>
        <br/>
        <p>Le code source est disponnible à l'adresse suivante: <a href="https://github.com/spirolad/Blog-NodeJs">https://github.com/spirolad/Blog-NodeJs</a>
             et est inspiré de <a href="https://www.youtube.com/watch?v=zb3Qk8SG5Ms&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU">"Node.js Crash Course Tutorial" de The Net Ninja</a>.</p>
        
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>