<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>à propos</h2>

        <p>Pas envie de faire le texte</p>
        
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>