<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>à propos</h2>

        <p>Ce blog est avant tout un projet rapide qui vise à m'aider à appréhender node Js qui me permettra de travailler sur un projet bien plus ambitieux</p>
        <br/>
        <p>Son développement a pris environ 15 heures et a été réalisé en 2 jours</p>
        <br/>
        <p>Bien que petit et peu intéressant, j'ai décidé de quand même partager ce petit blog afin d'avoir un peu d'expérience en tant que DevOps (et aussi parce que j'aime bien partager ce que je fais :))</p>
        <br/>
        <p>L'ensemble des contenus englobant ce site est la propriété intellectuelle de Jules Ladaigue</p>
        <br/>
        <p>Le code source est disponnible à l'adresse suivante: <a href="https://github.com/spirolad/Blog-NodeJs">https://github.com/spirolad/Blog-NodeJs</a>
             et est inspiré de <a href="https://www.youtube.com/watch?v=zb3Qk8SG5Ms&list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU">"Node.js Crash Course Tutorial" de The Net Ninja</a></p>
        
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>